
<div class="product-page">
  <div class="container">
    <div class="product-details">
      <div class="product-images">
        {% if product.featured_image %}
          <img src="{{ product.featured_image | img_url: '600x600' }}" alt="{{ product.title }}">
        {% endif %}
      </div>
      
      <div class="product-info">
        <h1>{{ product.title }}</h1>
        <div class="price">{{ product.price | money }}</div>
        
        {% if product.metafields.custom.sunsky_sku %}
          <div class="sunsky-info">
            <span class="badge">Sunsky</span>
            <span>SKU: {{ product.metafields.custom.sunsky_sku }}</span>
          </div>
        {% endif %}
        
        {% form 'product', product %}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <button type="submit" class="btn-primary">Agregar al carrito</button>
        {% endform %}
      </div>
    </div>
  </div>
</div>
